/*
Qt GUI Supported HTML Subset: http://doc.qt.io/qt-5/richtext-html-subset.html
CSS Tutorial: http://www.w3schools.com/css/default.asp
*/

p, ul, ol, table, dl {
	font-family: "Liberation Serif", FreeSerif, serif;
	font-size: 22px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Liberation Sans", FreeSans, sans-serif;
}

h1 {
	font-size: 31px;
}

h2 {
	font-size: 26px;
}

h3 {
	font-size: 22px;
}

h4 {
	font-size: 21px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 20px;
}

table {
	border: thin outset LightGray;
}

th, td {
	border: thin inset LightGray;
	padding: 4px;
}

pre, code {
	font-family: "Liberation Mono", FreeMono, monospace;
	font-size: 19px;
	background-color: #d5f3bb;
}

blockquote {
	background-color: #bbddf3;
}

